<!DOCTYPE html>
<html>
  <head>
    <title>AngularJS Tutorials</title>
    <link rel="stylesheet" href="css/foundation.css" ></link>
</head>
<body>
  <div ng-app="myApp">
   <div ng-controller="AvengersCtrl">
   <!-- Filter by name or character -->
    <input type="text" ng-model="search.$"/>
    <table>
      <!-- Order by name --> 
      <!-- <tr ng-repeat="actor in avengers.cast| orderBy:'name'"> -->
      <!-- Reverse the order --> 
      <!-- <tr ng-repeat="actor in avengers.cast| orderBy:'-name'"> -->
      <!-- Limit to first 5 actors --> 
      <!-- <tr ng-repeat="actor in avengers.cast| limitTo:5"> -->
      <!-- Limit to last 5 actors --> 
      <!-- <tr ng-repeat="actor in avengers.cast| limitTo:-5"> -->
      <!-- Order by name and Limit to last 5 actors --> 
      <!-- <tr ng-repeat="actor in avengers.cast| orderBy:'name' | limitTo:-5"> -->
      <!-- Order by name and Limit to first 5 actors and use the search filter--> 
      <tr ng-repeat="actor in avengers.cast| orderBy:'name' | limitTo:5 | filter:search">
        <td> {{actor.name | lowercase }}</td> 
        <td> {{actor.character | uppercase}}</td> 
      <tr>
    </table>
   </div>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
  <script type="text/javascript" src="main8.js"></script>

</body>
</html>
